.foods-container {
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.food-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin: 50px;
    position: relative;
}

.cart-container {
    background-color: rgba(225, 134, 69, 0.727);
    padding: 10px;
    position: sticky;
    top: 0px;
}

.cart-container h3 {
    margin-top: 0px;
    padding: 10px;
    text-align: center;
}